--swiftversion 5.0
--exclude .build,.swiftpm,Artifacts

--wrap-parameters before-first
--wrap-arguments before-first
--closing-paren balanced
--call-site-paren balanced
--disable wrapMultilineStatementBraces
